.head{

    text-align: center;
    color: gray;
    margin-bottom: 90px;

}

.bs {
    padding: 20px;
  }

  .character-list {
    display: grid;
    grid-template-columns: repeat(3, 3fr); /* 3 columns */
    gap:20px; /* Space between items */
    margin-left: 40px; /* Left margin */
  }
  
  .user-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  